@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
    transition: 0.5s;
}

.style {

    transition: .2s ease-in-out;
}

.style:hover {
    cursor: pointer;
    transform: scale(1.10);
    background: #FFF;
    color: #000;
}